@page
@model Inlämningsuppgift1.Pages.EventsModel

@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>

<p>
    <a>:D</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Organizer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Spots_available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Event) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organizer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spots_available)
            </td>
            <td>
                 <a  class="btn btn-primary m-2" asp-page="./JoinEvent" asp-route-id="@item.EventId">Join</a> 
            </td>
        </tr>
}
    </tbody>
</table>
