@page
@model Inlämningsuppgift1.Pages.JoinEventModel

@{
    ViewData["Title"] = "JoinEvent";
}

<h1>JoinEvent</h1>

<p>
    <a>:P</a>
</p>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Spots_available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Spots_available)
        </dd>
    </dl>
</div>

<div class="d-flex justify-content-center">

    <form method="post">
        <input type="submit" value="JOIN THIS EVENT" class="btn btn-primary" />
    </form>

</div>

